<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arouter.dawn.zju.edu.module_wallet">

    <application>
        <activity
            android:name=".ui.home.WalletHomeActivity"
            android:label="@string/title_activity_wallet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.forward.WalletForwardActivity"
            android:label="@string/title_activity_forward"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.question.WalletQuestionActivity"
            android:label="@string/title_activity_wallet_question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.answer.WalletAnswerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.bill.WalletBillActivity"
            android:label="@string/title_activity_wallet_bill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.bill_detail.WalletBillDetailActivity"
            android:label="@string/title_activity_wallet_bill_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.pay_settings.WalletPaySettingsActivity"
            android:label="@string/title_activity_wallet_pay_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.bank_card.WalletBankCardActivity"
            android:label="@string/title_activity_wallet_bank_card"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.non_secret_payment.WalletNonSecretPaymentActivity"
            android:label="@string/title_activity_wallet_non_secret_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.alert_pay_password.WalletAlertPayPasswordActivity"
            android:label="@string/title_activity_wallet_alert_pay_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ali_pay.WalletAliPayActivity"
            android:label="@string/title_activity_wallet_ali_pay"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>