<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arouter.dawn.zju.edu.module_account">

    <application>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.set_password.SetPasswordActivity"
            android:label="@string/title_activity_set_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.reset_password.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.personal.PersonalActivity"
            android:label="@string/title_activity_personal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.modify_pickname.ModifyPicknameActivity"
            android:label="@string/title_activity_modify_pickname"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>