<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arouter.dawn.zju.edu.module_forum">

    <application>
        <activity
            android:name=".ui.alter_tab.ForumAlterTabActivity"
            android:label="@string/title_activity_forum_alter_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.add_post.ForumAddPostActivity"
            android:label="@string/title_activity_add_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.show_image.ForumShowImageActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>