<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arouter.dawn.zju.edu.module_nearby">

    <application>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b7dcc9e19c56cff84a11eac8bf68c72d" />

        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="arouter.dawn.zju.edu.module_goods.ui.search.GoodsSearchActivity"
            android:label="@string/goods_search_please_input_goods_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="arouter.dawn.zju.edu.module_goods.ui.cart.GoodsCartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="arouter.dawn.zju.edu.module_goods.ui.detail.GoodsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>